---
name: Nicolas Hery
location: Montreal, Quebec
email: hi@nicolashery.com
website: https://nicolashery.com
intro: >
  Software engineer and engineering manager with 12+ years of experience working on web applications that solve real business problems and offer a delightful user experience. Focused on building maintainable and reliable software, as well as creating and leading high-performing and empowered teams.
experience:
  - start: Jan 2023
    end: Present
    title: Staff Software Engineer
    location: SimSpace, Montreal
    items:
      - Built a service to synchronize user and organization data to the authorization system Topaz with both realtime and batch syncing capabilities
      - Designed a multi-tenancy architecture using Keycloak and created an organization admin self-service console allowing enterprise customers to manage their own users
      - Implemented an asynchronous background worker to analyze logs and measure cybersecurity tool effectiveness, in close collaboration with the Data Science team, and set best practices for production-readiness in Python codebases
      - "Technologies used: Go, TypeScript, Python, Kotlin, RabbitMQ, PostgreSQL, Kubernetes"
  - start: Jan 2020
    end: Dec 2022
    title: Engineering Manager
    location: SimSpace, Montreal
    items:
      - Engineering manager leading a high-performing and cross-functional feature team composed of product owner, UX designers, frontend and backend engineers
      - Improved product delivery flow by establishing clear product requirements, technical designs, meeting notes, increasing frontend and backend collaboration through pairing and API documentation, and building a sense of product ownership among engineers
      - Helped create and staff a separate infrastructure team with a focus on CI/CD platform and developer tooling, increasing overall productivity of the engineering organization
      - Created a centralized internal engineering documentation site which improved knowledge sharing and retention, with content authored in Markdown that is searchable, discoverable, and version-controlled
  - start: Aug 2018
    end: Dec 2019
    title: Senior Software Engineer
    location: SimSpace, Montreal
    items:
      - Backend software engineer, worked on core web platform providing Cyber Range management and Network Specification editing capabilities
      - Planned, designed, and implemented major features such as a library of reusable network elements (virtual machine templates, configuration modules)
      - Improved the onboarding experience of software engineers by creating a new hire checklist, recording product walkthroughs, and generating a seed database to bootstrap local environments
      - "Technologies used: Haskell, TypeScript, PostgreSQL, Kubernetes"
  - start: Sep 2015
    end: Jul 2018
    title: Senior Software Engineer
    location: Busbud, Montreal
    items:
      - Full-stack web developer working on the customer website (busbud.com), as well as backend services (REST API, internal tools)
      - Delivered major projects by communicating with stakeholders, designing data models and interfaces, producing technical specifications, and coding the implementation
      - Increased confidence in deployment and code maintainability, by introducing TypeScript and other static analysis tools, leveraging a new end-to-end testing framework, improving monitoring and logging, and prioritizing tasks to reduce technical debt
      - Improved website performance, by reducing client-side JavaScript bundle sizes, finding opportunities to optimize code execution, implementing pagination for the search page
      - Grew the team by interviewing candidates, onboarding new team members, writing documentation, being a prolific code reviewer, mentoring and teaching (gave lunch & learn presentations on TypeScript, and Algebraic Data Types)
      - "Technologies used: TypeScript/JavaScript, Node.js, React, PostgreSQL, Redis"
  - start: Jan 2015
    end: Aug 2015
    title: Web Developer
    location: Self-employed, Montreal
    items:
      - Worked with a startup to build the prototype of a solution that helps small businesses manage their data (Haskell, Node.js)
      - Built the interface of an MVP used to explore a large database of industry data and visualize key metrics (React, Python)
  - start: Oct 2013
    end: Dec 2014
    title: Contract Web Developer
    location: Tidepool, Paris & Montreal
    items:
      - Worked remotely for the non-profit organization whose mission is to reduce the burden of Type-1 Diabetes
      - Helped build the core platform which synchronizes diabetes data from many medical devices
      - Built with a small team of developers the MVP version of Blip, a web-based data visualization tool
      - "Technologies used: JavaScript, React, Go"
  - start: Jan 2010
    end: May 2013
    title: Data Analyst
    location: FreshDirect, New York
    items:
      - Built a web application that aggregates data from multiple systems and generates a demand forecasting Excel sheet
      - Implemented a pilot program that uses an innovative cloud-based product forecasting service
      - Wrote and implemented several scripts to transform and load data, as well as automate redundant tasks
      - "Technologies used: Python, Java, Apache POI"
  - start: Oct 2009
    end: Dec 2009
    title: Student Project
    location: Google, New York
    items:
      - Managed a team of students from Columbia University on a project for Google's Operations Research group
      - Used Python to simulate job scheduling in data centers and optimize the algorithm to decrease power consumption
  - start: May 2009
    end: Jul 2009
    title: Intern Consultant
    location: Cylad Consulting, France
    items:
      - Worked with a team of consultants for Airbus on the project planning of the Airbus 350 XWB
      - Developed an Excel VBA tool to create Gantt charts from the main scheduling platform's data
education:
  - start: 2009
    end: 2010
    school: Columbia University
    degree: MS in Operations Research
    location: New York
    items:
      - "Selected coursework: Deterministic and Stochastic Models, Corporate Finance, Entrepreneurship, Supply Chain"
  - start: 2007
    end: 2009
    school: Ecole Centrale de Nantes
    degree: MS in Industrial Engineering
    location: France
    items:
      - "Selected coursework: Probability and Statistics, Calculus, Economics, International Strategy"
skills:
  - category: Languages
    content: Go, TypeScript, Python
  - category: Technologies
    content: PostgreSQL, RabbitMQ, Redis, Kubernetes
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ name }}</title>

    {% include "resume-style.html" %}
  </head>

  <body>
    <div class="header">
      <h1>{{ name }}</h1>
      <div class="contact">
        <div>{{ location }}</div>
        <div>{{ email }}</div>
        <div>{{ website }}</div>
      </div>
    </div>

    <div class="intro">{{ intro }}</div>

    <h2>Experience</h2>
    {% for entry in experience %}
    <div class="row">
      <div class="left">
        <div>{{ entry.start }}<span class="sep-lg"> -</span></div>
        <div class="sep-sm">-</div>
        <div>{{ entry.end }}</div>
      </div>
      <div class="right">
        <h3>{{ entry.title }}</h3>
        <h4>{{ entry.location }}</h4>
        <ul>
          {% for item in entry.items %}
          <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}

    <h2>Education</h2>
    {% for entry in education %}
    <div class="row">
      <div class="left">
        <div>{{ entry.start }}<span class="sep-lg"> -</span></div>
        <div class="sep-sm">-</div>
        <div>{{ entry.end }}</div>
      </div>
      <div class="right">
        <h3>{{ entry.school }}</h3>
        <h4>{{ entry.degree }}, {{ entry.location }}</h4>
        <ul>
          {% for item in entry.items %}
          <li>{{ item }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}

    <h2>Skills</h2>
    {% for entry in skills %}
    <div class="row">
      <div class="left">{{ entry.category }}</div>
      <div class="right">{{ entry.content }}</div>
    </div>
    {% endfor %}
  </body>
</html>
