<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if title %}
    <title>{{ title }} - Nicolas Hery</title>
  {% else %}
    <title>{{ site.title }}</title>
  {% endif %}

  {% include "fonts.html" %}
  <link rel="stylesheet" href="{{ "/css/main.css" | url }}">
  <link rel="stylesheet" href="{{ '/css/prism-one-dark.css' | url }}">
  <link rel="icon" type="image/svg+xml" href="{{ '/img/favicon.svg?v=1' | url }}" />

  {% include "seo.html" %}

  {% if env.NETLIFY %}
    {% include "plausible.html" %}
  {% endif %}
</head>
