<style>
/* Reset
--------------------------------------------------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}


/* Body
--------------------------------------------------------------------------- */

/* Size and center on screen to simulate paper page */
@media screen {
  body {
    margin: 40px auto;
    padding: 40px 30px;
    max-width: 940px;
    border: 1px solid #CCC;
  }
}

@media screen and (max-width: 940px) {
  body {
    margin: 20px auto;
    padding: 0 20px;
    border: none;
  }
}

/* Font */
body {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 14px;
  line-height: 1.2;
}

/* Make font (and all "em" defined sizes) smaller for print to fit on 1 page */
@media print {
  body {
    font-size: 11px;
  }
}

/* Headers
--------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 2.2857em;
  color: #000;
}

h2 {
  font-size: 1.5em;
  line-height: 1.6;
  border-bottom: 1px solid #ccc;
  color: #000;
  margin-top: 0.7143em;
}

h3 {
  font-size: 1.1429em;
  color: #000;
}

h4 {
  font-size: 1em;
  color: #666;
}

/* Lists
--------------------------------------------------------------------------- */

ul, ol {
  padding-left: 1em; /* Should align bullet points with paragraphs */
}

li {
  margin-top: 0.3571em;
}

/* Layout
--------------------------------------------------------------------------- */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

@media screen and (max-width: 440px)  {
  .header {
    flex-direction: column;
  }

  .contact {
    margin-top: 0.7143em;
  }
}

.row {
  display: flex;
  flex-direction: row;
  margin-top: 0.7143em;
}

.left {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  padding-right: 1.4286em;
  width: 15%;
}

.right {
  width: 85%;
}

.sep-sm {
  display: none;
}

.sep-lg {
  display: inline;
}

@media screen and (max-width: 570px)  {
  .row {
    flex-direction: column;
  }

  .left {
    flex-direction: row;
    padding-right: 0;
    width: 100%;
  }

  .sep-sm {
    display: block;
    margin: 0 4px;
  }

  .sep-lg {
    display: none;
  }

  .right {
    width: 100%;
  }
}

/* Avoid page breaks in the middle of a div when printing */
@media print {
  div {
    break-inside: avoid;
  }
}

/* Intro
--------------------------------------------------------------------------- */

.intro {
  font-style: italic;
  color: #666;
  margin-top: 0.7143em;
  font-size: 1.1429em;
}

/* Left
--------------------------------------------------------------------------- */

.left {
  font-style: italic;
  color: #666;
}
</style>
