<title>{{ seo.title }}</title>

<meta name="description" content="{{ seo.description }}">
<meta name="author" content="{{ seo.author }}">
<link rel="canonical" href="{{ seo.canonicalUrl }}">

<meta property="og:title" content="{{ seo.pageTitle }}">
<meta property="og:description" content="{{ seo.description }}">
<meta property="og:locale" content="{{ seo.locale }}">
<meta property="og:url" content="{{ seo.canonicalUrl }}">
<meta property="og:site_name" content="{{ seo.siteTitle }}">
{% if seo.date %}
  <meta property="og:type" content="article">
  <meta property="article:published_time" content="{{ seo.date }}">
{% else %}
  <meta property="og:type" content="website">
{% endif %}
{% if seo.image %}
  <meta property="og:image" content="{{ seo.image.url }}">
  <meta property="og:image:height" content="{{ seo.image.height }}">
  <meta property="og:image:width" content="{{ seo.image.width }}">
{% endif %}

{% if seo.image %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ seo.image.url }}">
{% else %}
  <meta name="twitter:card" content="summary">
{% endif %}
<meta name="twitter:site" content="@{{ seo.twitterAccount }}">
<meta name="twitter:title" content="{{ seo.pageTitle }}">
<meta name="twitter:description" content="{{ seo.description }}">

<script type="application/ld+json">
  {{ seo.jsonLd }}
</script>
