/*------------------------------------*\
    CODE.SCSS
\*------------------------------------*/

code {
  font-family: Consolas, "Courier New", monospace;
}

pre {
  padding: 5px 10px;
  // Not sure if this is necessary
  // We already have white-space: pre-wrap;
  word-wrap: break-word;

  // Not sure why, but need to set font size on both `pre` and `pre > code`
  &, > code {
    // Make more code fit on small screens
    font-size: 14px;

    // Bigger font on bigger screens
    @include media-query(lap-and-up) {
      font-size: 16px;
    }
  }
}

// Inline-code
// Inspired by GitHub styles
p > code,
li > code {
  font-size: 85%;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background-color: #fdf6e3;
  color: #586e75;

  &::before,
  &::after {
    letter-spacing: -0.2em;
    content: "\00a0";
  }
}
