/*------------------------------------*\
    PAGE.SCSS
\*------------------------------------*/

.page {
  margin-bottom: $base-spacing-unit;
}

// Typography
// -------------------------

.page {
  font-size: 18px;
  line-height: 1.4;
  @include media-query(lap-and-up) {
    font-size: 20px;
    line-height: 1.45;
  }

  h1 {
    color: $brand-primary;
    line-height: 1.2;

    @include media-query(lap-and-up) {
      font-size: $kilo-size;
      line-height: 1.1;
    }
  }

  h2, h3 {
    color: $gray-dark;
    line-height: 1.2;
  }
}
