/*------------------------------------*\
    $SCAFFOLDING
\*------------------------------------*/

body {
  color: $text-color;
  background-color: $body-bg;

  max-width: 700px;
  margin: 0 auto;
  padding: $half-spacing-unit;
  padding-bottom: 0;

  @include media-query(lap-and-up) {
    padding-top: $base-spacing-unit;
    padding-right: $base-spacing-unit;
    padding-left: $base-spacing-unit;
  }
}

// Links
// -------------------------

a {
  color: $link-color;
  text-decoration: none;
}
a:hover,
a:focus {
  color: $link-hover-color;
  text-decoration: underline;
}

// Blockquotes
// -------------------------

blockquote {
  color: $gray-light;
  border-left: 4px solid $gray-lighter;
  padding: 0 $half-spacing-unit;
}