/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */





/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
$use-grids:         true;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           true;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         false;
$use-marginalia:    false;
$use-island:        true;
$use-block-list:    true;
$use-matrix:        true;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      false;
$use-lozenges:      false;
$use-rules:         false;
$use-stats:         false;
$use-greybox:       false;





/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override inuit.css’ defaults here.
 */


$base-font-size:    16px!default;
$base-line-height:  24px!default;

$base-font-family:  "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Default colour for objects’ borders etc.
$base-ui-color:     #ccc!default;

// Tell inuit.css when breakpoints start.
$lap-start:         481px!default;
$desk-start:        1024px!default;
$desk-wide-start:   1200px!default;

// Font sizes
$giga-size:         96px!default;
$mega-size:         72px!default;
$kilo-size:         48px!default;

$h1-size:           36px!default; // .alpha
$h2-size:           30px!default; // .beta
$h3-size:           24px!default; // .gamma

$milli-size:        12px!default;
$micro-size:        10px!default;

// Color
$brand-color:       #f27154!default;
$brand-face:        $base-font-family;

// How big would you like round corners to be by default?
$brand-round:        4px!default;

// Spacing
// inuit.css will work these next ones out for use within the framework.
// Assign our `$base-line-height` to a new spacing var for more transparency.
$base-spacing-unit: $base-line-height!default;
$half-spacing-unit: $base-spacing-unit / 2!default;
$line-height-ratio: $base-line-height / $base-font-size;


/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of inuit.css here.
 */

 $tiny-spacing-unit: $base-spacing-unit/4;

// Grays
// -------------------------

$gray-darker:            #222;
$gray-dark:              #333;
$gray:                   #4d4d4d;
$gray-light:             #aaa;
$gray-lighter:           #ccc;

// Redefine color for object borders, etc.
$base-ui-color:          $gray-lighter;

// Brand colors
// -------------------------

$brand-primary:          #f27154;
$brand-primary-dark:     darken($brand-primary, 30%);
$brand-primary-light:    lighten($brand-primary, 30%);

// Scaffolding
// -------------------------

$body-bg:               #fff;
$text-color:            $gray;

$link-color:            $brand-primary;
$link-hover-color:      $brand-primary-dark;
