/*------------------------------------*\
    FOOTER.SCSS
\*------------------------------------*/

.footer {
  margin-bottom: $base-spacing-unit;
}

// Links
// -------------------------

.footer--links {
  @extend .header--nav;
  margin-bottom: $half-spacing-unit;
}

// Copyright
// -------------------------

.footer--copyright {
  margin: 0;
  text-align: center;
  font-size: $milli-size;
  color: $gray-light;
}
